* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
html,
body {
  width: 100%;
}
.btn {
  color: white;
  border: none;
  margin: 100px 100px;
  /* height: 30px;
  width: 130px; */
  padding: 10px 30px;
  border-radius: 30px;
  font-size: 13px;
  font-weight: 900;
  letter-spacing: 0.5px;
  /* width: 177px; */
}

.btnred {
  background-color: red;
}
.btnblue {
  background-color: blue;
}
.btngreen {
  background-color: green;
}
.btnyellow {
  background-color: yellow;
}

.regbutton {
  background-color: rgb(180, 60, 100);
}

.tdn {
  text-decoration: none;
}
.hover:hover {
  padding: 8px 27px;
  outline: 5px solid white;
}
.r:hover {
  box-shadow: 0 0 15px 5px rgba(249, 4, 4, 0.662);
}
.b:hover {
  box-shadow: 0 0 15px 5px rgba(28, 4, 249, 0.62);
}
.g:hover {
  box-shadow: 0 0 15px 5px rgba(4, 249, 86, 0.62);
}
.y:hover {
  box-shadow: 0 0 15px 5px rgba(249, 192, 4, 0.68);
}
