* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
html,
body {
  width: 100%;
}
.card {
  color: aliceblue;
  background-color: rgba(18, 18, 18, 0.863);
  margin: 100px auto;
  width: 210px;
  height: 350px;
  text-align: center;
  padding-top: 20px;
}
.card h3 {
  text-transform: uppercase;
}
.card p {
  margin: 12px 0;
  font-size: 40px;
}
.card .sub {
  font-size: 15px;
}
.card ul {
  font-size: 12px;
  margin-bottom: 25px;
  list-style-type: none;
}
.card ul li {
  padding: 5px;
}
.card ul .list {
  color: gray;
  text-decoration: line-through;
}
.card .buy {
  color: white;
  text-decoration: none;
  border: 1px solid rgba(255, 255, 255, 0.445);
  padding: 7px 14px;
  font-size: 10px;
  font-weight: 600;
  border-radius: 3px;
}
