/* ^ mask properties are 1.mask image, 2.masking using gradients, 3.masking text */

div {
  margin: 50px auto;
  width: 300px;
  height: 200px;
  -webkit-mask-image: url("./mask img1.png");
  mask-image: url("./mask img1.png");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;
}

.gradient {
  margin: 50px auto;
  width: 300px;
  height: 200px;
  -webkit-mask-image: linear-gradient(transparent, rgb(255, 0, 0));
  mask-image: linear-gradient(transparent, rgb(255, 0, 0));
}
h1 {
  width: max-content;
  font-size: 100px;
  margin: 50px auto;
  background: url("./mask\ img2.jpeg");
  background-position: center;
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
h1.text {
  width: max-content;
  margin: 50px auto;
  background-image: linear-gradient(to right, red, yellow, green);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 100px;
}
